/* COMMON */
.summary__title{
    font-size: 34px !important;
}
.summary__description{
    font-size: 20px !important;
}
/* HEADER */
.nav-bar {
    height: 30vh;
}
.nav-bar a {
    font-size: 15px;
}
/* HEADER */
header .logo a{
    background: url("../img/logo.png");
    width: 100px;
    height: 60px;
    display: block;
    text-indent: -9999px;       /*text-indent: 들여쓰기*/  
}
/* VISUAL */
#canvas{
    margin-right: 0px;
    margin-left: 100px;
}
#btn-form{
    width: auto;
    margin: 0 auto;
    margin-left: 120px;
    display: flex;
    font-size: 12px;
}
#btn-form li {
    margin-left: 15px;
    margin-right: 10px;
}
/* FEATURE */

.section--feature .summary figcaption{
    font-size: 12px;
}
.section--feature img{
    width: 500px;
    margin-left:-10px
}
.section--feature .tiles li{
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
}
